<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_tag users_path, :method => 'get' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag :search %>
<% end %>

<%= will_paginate @users %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>